@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary_color: #e74c3c;
    --white_color: #fff;

    --ubuntu: "ubuntu";
    --righteous: "Righteous";

    --box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

html{
    font-size: 70%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

/*------------Utility classes start-------------------*/

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.main_heading-1{
    font-size: 4rem;
    font-family: cursive;
    text-align: left;
    color: #fc9ea6;
}

.main_heading{
    font-weight: bold;
    font-size: 3rem;
    font-family: cursive;
    text-align: center;
    color: #606060;
}


.normal_heading{
    font-size: 2rem;
    font-family: cursive;
    color: #ffffff;
    text-align: left; 
}

.normal_heading-1{
    font-size: 1.8rem;
    font-family: cursive;
    color: #ffffff;
    text-align: left;
    font-weight: bold; 
}

/*------------Utility classes close-------------------*/


/*------------Header start-------------------*/

header{
    width: 100%;
    background: rgba(255, 255, 255, 0.713);
    position: fixed;
    padding: 1.5rem 0;      
    z-index: 100;            
}

.logo img{
    display: block;
    object-fit: cover;
    width: 100%;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav{
    display: flex;
    align-items: center;
}

.navbar nav li{
    list-style-type: none;
    margin: 0 3rem;
}

.navbar nav li a{
    font-weight: bold;
    font-size: 1.3rem;
    color: #000;
    position: relative;
}

.navbar nav li a::after{
    content: "";
    position: absolute;
    height: 3px;
    background: #fc9ea6;
    width: 0;
    left: 0;
    top: 30px;
    transition: all 0.5s ease-in-out;
}

.navbar nav li a:hover::after{
    width: 100%;
}

.btn{
    font-size: 2.2rem;
    color: #000;
    cursor: pointer;
    display: none;
}

/*------------Header close-------------------*/


/*------------Sliders start-------------------*/



.carousel {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    box-sizing: border-box;
}

.content {
    padding: 20px;
    color: #000;
    max-width: 600px;
}

button {
    margin-left: -430px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fc9ea6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fc9ea6bf;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation .prev, .navigation .next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}


/*------------Sliders close-------------------*/

/*------------Visit our store open-------------------*/



body {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

h1 {
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 1rem;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.circle-image:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

h3 {
    margin-top: 10px;
}


/*------------Visit our store close-------------------*/

/*------------menu open-------------------*/
#menu{
    background: url('../imgs/menu.png') no-repeat center center/cover;
    background-attachment: fixed;
    padding-bottom: 4rem
}

#menu .main-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#menu h1 {
    margin-bottom: 5rem;
}

#menu .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu .row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu .image-card {
    width: 22%;
    margin-bottom: 20px;
    text-align: center;
}

#menu .image-wrapper {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

#menu .gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#menu .gallery-image:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

#menu h3 {
    margin-top: 10px;
}

#menu .button-container {
    margin-top: 20px;
}

#menu .view-all-button {
    margin-left: 40px;
    padding: 9px 30px;
    font-size: 1.3rem;
    color: white;
    background-color: #fc9ea6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu .view-all-button:hover {
    background-color: #fc9ea697;
}

/*------------menu close-------------------*/



/*--------------footer start-----------------*/

#footer{
    background: #fff;
    padding: 5rem 0;
    color: var(--box-shadow);
    font-size: 1.3rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4rem;
}

.about_us img{
    display: block;
    object-fit: cover;
    width: 40%;
    text-align: left;
}

#footer .img_logo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 220px;
}

.about_us p{
    line-height: 1.8;
    padding-bottom: 2rem;
    text-align: left;
}

.footer_container h2{
    padding-bottom: 2rem;
    color: var(--box-shadow);
}


.contact_us{
    text-align: left;
    padding-top: 5rem;
}


/*--------------fooeter close-----------------*/